@font-face {
    font-family: 'sophillia';
    src: url(fonts/Sophillia.otf);
    src: url(fonts/Sophillia.otf) format('embedded-opentype'),
    url(fonts/Sophillia.otf) format('woff2'),
    url(fonts/Sophillia.otf) format('woff'),
    url(fonts/Sophillia.otf) format('truetype'),
    url(fonts/Sophillia.otf) format('svg');
} 

/* colours: 
beige #ECD8C1
white #F5F4F2
orange #EE5023
black #111213
yellow #FFC200
green #055D43
blue #487D85
*/ 


html {
    font-size:  80%; 
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F4F2; 
    overflow-x: hidden;
}

h1 {
    font-family: sophillia; 
    color: #EE5023; 
    font-size: 7vw;
}

h2 {
    font-family: sophillia; 
    color: #111213; 
    font-size: 5.2vw; 
    text-align: center;
}

h4 {
    font-weight: lighter;
    font-size: 2.4vw;
}

h5 {
    font-weight: lighter;
    font-size: 2.5vw;
    color: #EE5023;
}

h6 {
    font-size: 2vw;
    color: #111213; 
    font-weight: 500;
    text-align: center; 
}

p {
    line-height: 2vw;
    font-size: 1vw; 
}

.name {
    font-size: 4vw;
}

.title-orange {
    color: #ee5023; 
}

.timeline-title {
    font-size: 2vw;
}

.p-timeline {
    font-size: 1vw; 
}

.timeline-date {
    font-size: 3.8vw; 
    margin-right: -50%;
    line-height: 5.8vw;
}

.timeline-month {
    font-size: 1.4vw;
    margin-top: -1.1rem; 
    margin-right: -50%;
}

header {
    width: 100%;
    text-align: center;
    margin-top:-5%;
 }

 .tofix-header {
    width: 100%; 
    text-align: center;
    height: auto; 
    padding-top: 24%; 
    padding-bottom: 24%; 
    padding-left: 15%;
    padding-right: 15%;
    margin-top: -6%; 
    margin-bottom: 0; 
    margin-right: 0; 
    margin-left: 0; 
 }

 .navbar-toggler {
     background-color: transparent; 
     border: none; 
 }

 .navbar-toggler:focus {
     outline: 0; 
 }

 .fa-bars {
     color: #EE5023; 
     font-size: 3vw; 
 }

.nav {
    background: transparent; 
    padding: 0.8%; 
}

.nav-item {
        text-align: right;
}

.nav .nav-item .nav-link {
    color: #EE5023; 
    font-size: 1.1rem; 
    font-weight: 500;
}

.nav .nav-item .nav-link:hover {
    font-weight: 700;
} 

.strike {
    position: relative;
    display: block;
    cursor: pointer;
  }
  
.strike:before, span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 0.1rem;
    top: 50%;
    margin-top: -0.05rem;
    background: #fff;
  }
  
.strike:before {
    left: -0.25rem;
  }
.strike:after {
    right: 0.25rem;
    background: #111213;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
.strike:hover:before {
    background: #111213;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
.strike:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
  }

.rectangles-vert1 {
    width: 4%; 
    margin-left: 8%; 
    margin-top: 4%; 
    opacity: 0.8; 
}
  
.about-div {
    background-color: transparent;
    text-align: center; 
    font-size: 1.2rem;
    padding-top: -80%; 
    padding-bottom: 8%;
    padding-right: 30%;
    padding-left: 30%;
    z-index: -1; 
    position: relative; 
}

.abouttext-div {
    width: 100%; 
    background-color: transparent;
    padding-top: 5%; 
    padding-right: 12%;
    padding-left: 15%;
    text-align: center; 
    font-size: 1.2rem;
    z-index: -1; 
    position: relative; 
}

.about-titles1 {
    animation-delay: 2s;
  }

.about-titles2 {
    animation-delay: 2.5s;
  }

.about-titles3 {
    animation-delay: 2.8s;
  }

.ampersand {
  text-align: center;
  margin-top: 2%; 
}

.about-text {
  text-align: left;
  color: #EE5023;
  align-items: center;
}

.headshot {
  padding-left: 5%;
  align-items: center;
  text-align: center;
} 

.p-about {
  font-size: 1.2vw; 
  text-align: left; 
}

.work-div {
    background-color: transparent; 
    border: solid 0.2rem #EE5023; 
    width: 75%; 
    position: relative; 
    z-index: 1; 
    margin-top: 10%; 
    margin-left: 4%; 
    padding-top: 2%; 
    padding-bottom: 5%; 
    padding-left: 8%; 
    padding-right: 8%; 
    animation-delay: 4s;
}

.rectangles-hor {
    width: 11%; 
    opacity: 0.9; 
    transform: rotate(20deg);
    margin-left: 73%;   
    margin-top: -65%;   
    margin-bottom: 0; 
}

.empty-div1 {
    background-color: transparent; 
    width: 100%; 
    padding-top: 10%; 
    position: relative;
    z-index: -1; 
}

.empty-div2 {
    background-color: transparent; 
    width: 100%; 
    padding-top: 5%; 
    position: relative;
    z-index: -1; 
}

.education-div {
    background-color:#F5F4F2; 
    width: 65%; 
    position: relative; 
    z-index: 1; 
    text-align: center; 
    font-size: 1.2rem;
    text-align: left;  
    margin-left: 35%;
    margin-bottom: 10%;
}

.timeline-row {
    margin-top: 4%; 
}

.rectangles-vert2 {
    width: 3.5%; 
    margin-left: 8%;
    margin-top: -19rem; 
    opacity: 0.8; 
}

.findme-div {
    text-align: center; 
    font-size: 1vw;
    margin-bottom: 10%; 
    padding-top: 2%;
    background-color: transparent; 
    border: solid 0.2rem #EE5023; 
    width: 75%; 
    position: relative; 
    margin-left: 4%; 
    z-index: 2;
}

.contact-instagram {
    padding: 2%; 
    color: #EE5023;
}

.contact-behance {
    padding: 2%; 
    color: #EE5023;
}

.contact-email {
    padding: 2%; 
    color: #EE5023;
}

.contact-instagram:hover {
    color: #111213;
}

.contact-behance:hover {
    color: #111213; 
}

.contact-email:hover {
    color: #111213; 
}

.black-rule {
    border-top:  #111213 solid 0.2vw ;     
    margin-top: -2%; 
    margin-bottom: 5%; 
 }
 
.orange-rule {
     border-top: #EE5023 solid 0.2rem; 
     margin-top: -1rem; 
 }

footer {
    background: #111213; 
    color: #EE5023; 
    width: 100%; 
    height: auto; 
    padding: 6%; 
    text-align: center; 
    font-size: 1vw; 
}
  
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  /* 
  @media only screen and (max-width: 1000px) {
    .education-div {
      margin-left: 10%;
  }
  }  */

  /* work */ 

  .new-title {
    width: 100%; 
    padding-left: 10%; 
    margin-bottom: -5%; 
  }

.title-work {
    color: #EE5023;
    text-align: left; 
    margin-bottom: 5%; 
  }

  .new-div {
    width: 100%; 
    padding-top: 5%; 
    padding-bottom: 10%; 
    padding-left: 15%; 
    padding-right: 5%; 
  }

#navigation {
    list-style-type: none;
  }

.work-list {
    text-align: left; 
  }

.work-image {
    text-align: center; 
  }
 
.blank-work {
    width: 70%; 
  }

.work-name {
    font-weight: lighter;
    font-size: 2.1vw;
    color: #EE5023;
    margin-bottom: 4.5%; 
}

.work-name:hover {
    color: #111213;
}

a.work-list:hover {
    text-decoration: none; 
    color: #111213; 
  }


  /* contact */ 

  #regForm {
    background-color: #F5F4F2;
    margin: 12% auto;
    font-family: 'Montserrat', sans-serif;
    padding: 4%;
    width: 50%;
    min-width: 30%;
  }

::placeholder { 
    color: #111213; 
    opacity: 0.8; 
} 

input[type=text], select, textarea {
    width: 100%;
    padding: 2%;
    font-size: 1.3vw; 
    background-color: #F5F4F2;
    border-top: 0.1vw solid #F5F4F2;
    border-left: 0.1vw solid #F5F4F2;
    border-right: 0.1vw solid #F5F4F2;
    border-bottom: 0.3vw solid #111213; 
    border-radius: 0.1vw;
    box-sizing: border-box;
    margin-top: 1%;
    margin-bottom: 2%;
    resize: vertical;
    outline: none; 
  }

  input[type=email] {
    width: 100%;
    padding: 2%;
    font-size: 1.3vw; 
    background-color: #F5F4F2;
    border-top: 0.1vw solid #F5F4F2;
    border-left: 0.1vw solid #F5F4F2;
    border-right: 0.1vw solid #F5F4F2;
    border-bottom: 0.3vw solid #111213; 
    border-radius: 0.1vw;
    box-sizing: border-box;
    margin-top: 1%;
    margin-bottom: 2%;
    resize: vertical;
    outline: none; 
  }
  
input {
    padding: 0.8rem;
    width: 100%;
    font-size: 1.7rem;
    border: solid 0.1vw #F5F4F2;
    color: #111213; 
    outline: none; 
  }
  
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #111213; 
  transition: background-color 5000s ease-in-out 0s;
  border: 0.2vw solid #F5F4F2;
}

input.invalid {
    border: solid 0.2vw #EE5023;   
  }

  input[type=submit] {
    background-color: #EE5023;    
    color: #F5F4F2;
    border: none;
    border-radius: 0.4vw;
    padding: 2% 3%;
    font-size: 1.7vw;
    cursor: pointer;
    width: 30%; 
  }

  input[type=submit]:hover {
    background-color:#111213;   
  }

  .form-title {
    font-weight: lighter;
    font-size: 2.5vw;
    color: #EE5023;
  }