@font-face {
src: url(fonts/Sophillia.otf);
font-family: sopillia; 
}

/* colours: 
beige #F6EEDA
white #F5F9F4
orange #F74300
black #282322
yellow #FFC200
green #055D43
blue #487D85
*/ 


html {
    font-size:  80%; 
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color:#F5F9F4; 
    overflow-x: hidden;
}

h1 {
    font-family: sophillia; 
    color: #F74300; 
    font-size: 7vw;
}

h2 {
    font-family: sophillia; 
    color: #282322; 
    font-size: 5.2vw; 
    text-align: center;
}

h4 {
    font-weight: lighter;
    font-size: 2.4vw;
}

h5 {
    font-weight: lighter;
    font-size: 2.5vw;
    color: #F74300;
}

h6 {
    font-size: 2vw;
    color: #282322; 
    font-weight: 500;
    text-align: center; 
}

p {
    line-height: 2vw;
    font-size: 1vw; 
}

.title-orange {
    color: #F74300; 
}

.timeline-title {
    font-size: 2vw;
}

.p-timeline {
    font-size: 1vw; 
}

.timeline-date {
    font-size: 3.8vw; 
    margin-right: -50%;
}

.timeline-month {
    font-size: 1.4vw;
    margin-top: -1.1rem; 
    margin-right: -50%;
}

header {
    width: 100%; 
    background-color: #ECD8C1; 
    text-align: center;
    height: auto; 
    padding-top: 24%; 
    padding-bottom: 24%; 
    padding-left: 15%;
    padding-right: 15%;
    margin-top: -6%; 
    margin-bottom: 0; 
    margin-right: 0; 
    margin-left: 0; 
 }

 .navbar-toggler {
     background-color: transparent; 
     border: none; 
 }

 .navbar-toggler:focus {
     outline: 0; 
 }

 .fa-bars {
     color: #F74300; 
     font-size: 3vw; 
 }

.nav {
    background: transparent; 
    padding: 0.8%; 
}

.nav-item {
        text-align: right;
}

.nav .nav-item .nav-link {
    color: #F74300; 
    font-size: 1.1rem; 
    font-weight: 500;
}

.nav .nav-item .nav-link:hover {
    font-weight: 700;
} 

.strike {
    position: relative;
    display: block;
    cursor: pointer;
  }
  
.strike:before, span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 0.1rem;
    top: 50%;
    margin-top: -0.05rem;
    background: #fff;
  }
  
.strike:before {
    left: -0.25rem;
  }
.strike:after {
    right: 0.25rem;
    background: #282322;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
.strike:hover:before {
    background: #282322;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
.strike:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
  }

.rectangles-vert1 {
    width: 4%; 
    margin-left: 8%; 
    margin-top: 4%; 
    opacity: 0.8; 
}
  
.about-div {
    background-color: transparent;
    text-align: center; 
    font-size: 1.2rem;
    padding-top: 5%; 
    padding-bottom: 13%;
    padding-right: 30%;
    padding-left: 30%;
    z-index: -1; 
    position: relative; 
}

.about-titles1 {
    animation-delay: 2s;
  }

.about-titles2 {
    animation-delay: 2.5s;
  }

.about-titles3 {
    animation-delay: 2.8s;
  }
  


.ampersand {
    text-align: center;
    margin-top: 2%; 
}

.index-rocks {
    width: 27%; 
    position: relative; 
    z-index: 2; 
    margin-top: 15%; 
    margin-bottom: -80%; 
    margin-left: 92%; 
    opacity: 0.8; 
}

.work-div {
    background-color: transparent; 
    border: solid 0.2rem #F74300; 
    width: 75%; 
    position: relative; 
    z-index: 1; 
    margin-top: 10%; 
    margin-left: 4%; 
    padding-top: 2%; 
    padding-bottom: 5%; 
    padding-left: 8%; 
    padding-right: 8%; 
    animation-delay: 4s;
}

.index-img-div {
    background-color: transparent; 
    width: 100%;
    position: relative;
    z-index: 1;
}
.rectangles-hor {
    width: 11%; 
    opacity: 0.9; 
    transform: rotate(20deg);
    margin-left: 73%;   
    margin-top: -65%;   
    margin-bottom: 0; 
}

.index-windows1 {
    width: 20%; 
    margin-top: -10%;  
    margin-left: 75%; 
    margin-bottom: -12%; 
    opacity: 0.5;
    position:relative; 
    z-index: -1; 
}

.empty-div1 {
    background-color: transparent; 
    width: 100%; 
    padding-top: 18%; 
    position: relative;
    z-index: -1; 
}

.education-div {
    background-color:#F5F9F4; 
    width: 65%; 
    position: relative; 
    z-index: 1; 
    text-align: center; 
    font-size: 1.2rem;
    text-align: left;  
    margin-left: 35%;
    margin-bottom: 16%;
}

.timeline-row {
    margin-top: 4%; 
}

.index-fly {
    width: 14%; 
    position: relative; 
    z-index: 2; 
    margin-left: 8%; 
    margin-top: -73%; 
    opacity: 0.7;
}

.index-ferris {
    width: 14%; 
    position: relative; 
    z-index: 2; 
    margin-left: 12%; 
    margin-top: -45%; 
    opacity: 0.7;
}

.rectangles-vert2 {
    width: 3.5%; 
    margin-left: 8%;
    margin-top: -58rem; 
    opacity: 0.8; 
}

.findme-div {
    text-align: center; 
    font-size: 1vw;
    margin-bottom: 10%; 
    padding-top: 2%;
    background-color: transparent; 
    border: solid 0.2rem #F74300; 
    width: 75%; 
    position: relative; 
    margin-left: 4%; 
    z-index: 2;
}

.contact-instagram {
    padding: 2%; 
    color: #F74300;
}

.contact-behance {
    padding: 2%; 
    color: #F74300;
}

.contact-email {
    padding: 2%; 
    color: #F74300;
}

.contact-instagram:hover {
    color: #282322;
}

.contact-behance:hover {
    color: #282322; 
}

.contact-email:hover {
    color: #282322; 
}

.index-london {
    width: 28%; 
    position: relative; 
    margin-left: 75%; 
    margin-top: -30%; 
    opacity: 0.7;
}

.black-rule {
    border-top:  #282322 solid 0.2vw ;     
    margin-top: -2%; 
    margin-bottom: 5%; 
 }
 
.orange-rule {
     border-top: #F74300 solid 0.2rem; 
     margin-top: -1rem; 
 }

footer {
    background: #282322; 
    color: #F74300; 
    width: 100%; 
    height: auto; 
    padding: 6%; 
    text-align: center; 
    font-size: 1vw; 
}

.section1 {
    background-color: transparent; 
    width: 100%; 
}

.image {
    margin-top: 12rem;
    margin-bottom: 12rem; 
    z-index: -1; 
    margin-right: 0;
    border: solid 0.01rem #F5F9F4; 
}

.orange-left {
    background-color: #F5F9F4; 
    color: #F74300; 
    border: solid 0.2rem #F74300; 
    margin-top: 30rem; 
    margin-bottom: 15rem; 
    margin-left: 10rem;
    margin-right: -7rem; 
    z-index: 1;
    padding-top: 3rem; 
    padding-bottom: 2rem; 
}

#zahra-front {
    margin-top: 38rem; 
    margin-bottom: 20rem; 
    padding-top: 2rem; 
    padding-bottom: 1rem; 
}

#change-front {
    margin-top: 20rem; 
    margin-bottom: 43rem; 
    margin-right: -10rem; 
    padding-top: 2rem; 
}

#family-front {
    margin-top: 20rem; 
    margin-bottom: 43rem; 
    margin-right: -10rem; 
    padding-top: 2rem; 
}

#dungarees-front {
    margin-top: 46rem; 
    margin-bottom: 20rem; 
    margin-right: -4rem; 
}

#shaq-front {
    margin-top: 47rem; 
    margin-bottom: 16rem; 
    margin-right: -4rem; 
}

#kazin-front {
    margin-top: 40rem; 
    margin-bottom: 25rem;
    margin-right: -4rem;  
}
#pulp-front {
    margin-top: 27rem; 
    margin-bottom: 39rem; 
    margin-right: -5rem; 
}

#denise-front {
    margin-top: 30rem; 
    margin-bottom: 40rem; 
    margin-right: -5rem; 
}

#frogs-front {
    margin-top: 37rem; 
    margin-bottom: 30rem; 
    margin-right: -5rem; 
}

#timmy-front {
    margin-top: 20rem; 
    margin-bottom: 43rem; 
    margin-right: -5rem; 
}

.black-right {
    background-color: #F5F9F4; 
    border: solid 0.2rem #282322;
    z-index: -2; 
    position: relative;
    margin-top: 18rem; 
    margin-bottom: 20rem; 
    margin-left: -2rem;
    margin-right: 10rem; 
}

#zahra-back {
    margin-top: 18rem; 
    margin-bottom: 34rem; 
}

#change-back {
    margin-top: 25rem; 
    margin-bottom: 27rem; 
    margin-left: -1.8rem;
}

#family-back {
    margin-top: 25rem; 
    margin-bottom: 27rem; 
    margin-left: -1.8rem;
}

#dungarees-back {
    margin-top: 25rem; 
    margin-bottom: 27rem; 
    margin-left: -1.8rem;
}

#kazin-back {
    margin-top: 20rem; 
    margin-bottom: 33rem; 
}

#pulp-back {
    margin-top: 32rem; 
    margin-bottom: 20rem; 
}

#denise-back {
    margin-top: 15rem; 
    margin-bottom: 50rem; 
}

#frogs-back {
    margin-top: 18rem; 
    margin-bottom: 35rem; 
}

#timmy-back {
    margin-top: 27rem; 
    margin-bottom: 22rem; 
}

.orange-right {
    background-color: #F5F9F4; 
    color: #F74300; 
    border: solid 0.2rem #F74300;     
    margin-top: 18rem; 
    margin-bottom: 30rem; 
    margin-left: -10rem;
    margin-right: 10rem; 
    z-index: 1;
    padding-top: 2rem; 
    padding-bottom: 2rem; 
}

#canterbury-front {
    margin-top: 31rem; 
    margin-bottom: 20rem; 
}

#icarus-front {
    margin-top: 18rem; 
    margin-bottom: 42rem; 
}

#artychokes-front {
    margin-top: 40rem; 
    margin-bottom: 25rem; 
    margin-left: -7rem;
}

#wellies-front {
    margin-top: 15rem; 
    margin-bottom: 40rem; 
    margin-left: -5rem;
}

#odyssey-front {
    margin-top: 24rem; 
    margin-bottom: 44rem; 
    margin-left: -4rem;
}

#danzac-front {
    margin-top: 31rem; 
    margin-bottom: 30rem; 
    margin-left: -4rem;
}

#movies-front {
    margin-top: 40rem; 
    margin-bottom: 15rem; 
    margin-left: -3rem;
}

#pandora-front {
    margin-top: 38rem; 
    margin-bottom: 28rem; 
    margin-left: -5rem;
}

#wywh-front {
    margin-top: 18rem; 
    margin-bottom: 40rem; 
    margin-left: -7rem;
}

#trad-front {
    margin-top: 42rem; 
    margin-bottom: 18rem; 
    margin-left: -3rem;
}

.black-left {
    background-color: #F5F9F4; 
    border: solid 0.2rem #282322; 
    margin-top: 25rem; 
    margin-bottom: 15rem; 
    margin-left: 10rem;
    margin-right: -7rem; 
}

#look-back {
    margin-bottom: 18rem; 
}

#canterbury-back {
    margin-top: 17rem; 
    margin-bottom: 30rem; 
}

#icarus-back {
    margin-top: 30rem; 
    margin-bottom: 24rem; 
}

#artychokes-back {
    margin-top: 17rem; 
    margin-bottom: 30rem; 
}

#wellies-back {
    margin-top: 20rem; 
    margin-bottom: 25rem; 
}

#odyssey-back {
    margin-top: 34rem; 
    margin-bottom: 22rem; 
}

#danzac-back {
    margin-top: 17rem; 
    margin-bottom: 30rem; 
}

#movies-back{
    margin-top: 16rem; 
    margin-bottom: 26rem; 
}

#pandora-back{
    margin-top: 17rem; 
    margin-bottom: 34rem; 
}

.description {
    font-size: 1.3rem; 
    color: #282322; 
}

.work1 {
    background-color: #F5F9F4;
    width: 100%; 
}

.work-link {
    color: #F74300;
}

.work-link:hover {
    font-weight: 300;
    text-decoration: none;
    color: #F74300;
}

.look-website {
    color: #282322; 
    text-decoration: none;
}

.look-website:hover {
    color: #F74300;
    text-decoration: none;
}

.image-spec {
    margin-top: 7rem; 
    margin-bottom: 5rem; 
    border: solid 0.01rem #F5F9F4; 
}

.image-grid {
    margin-top: 1rem; 
    margin-bottom: 1rem; 
    margin-left: 0rem;
    margin-right: 0rem; 
    border: solid 0.01rem #F5F9F4; 
}

#icarus-panels {
    margin-top: -7rem; 
}

#icarus-comic {
    margin-top: -5rem; 
}

.greek-rule1 {
    border-top: 0.2rem solid #F74300;
    margin-right: 13rem; 
    margin-left: 13rem; 
    margin-top: 5rem;
    margin-bottom: 7rem; 
}

.greek-rule2 {
    border-top: 0.2rem solid #F74300;
    margin-right: 13rem; 
    margin-left: 13rem; 
    margin-top: -5rem;
    margin-bottom: 7rem; 
}

#regForm {
    background-color: #F5F9F4;
    margin: 12% auto;
    font-family: 'Montserrat', sans-serif;
    padding: 4%;
    width: 70%;
    min-width: 30%;
  }

::placeholder { 
    color: #282322; 
    opacity: 0.8; 
} 

input[type=text], select, textarea {
    width: 100%;
    padding: 2%;
    font-size: 1.3vw; 
    background-color: #F5F9F4;
    border-top: 0.1vw solid #F5F9F4;
    border-left: 0.1vw solid #F5F9F4;
    border-right: 0.1vw solid #F5F9F4;
    border-bottom: 0.3vw solid #282322; 
    border-radius: 0.1vw;
    box-sizing: border-box;
    margin-top: 1%;
    margin-bottom: 2%;
    resize: vertical;
    outline: none; 
  }

  input[type=email] {
    width: 100%;
    padding: 2%;
    font-size: 1.3vw; 
    background-color: #F5F9F4;
    border-top: 0.1vw solid #F5F9F4;
    border-left: 0.1vw solid #F5F9F4;
    border-right: 0.1vw solid #F5F9F4;
    border-bottom: 0.3vw solid #282322; 
    border-radius: 0.1vw;
    box-sizing: border-box;
    margin-top: 1%;
    margin-bottom: 2%;
    resize: vertical;
    outline: none; 
  }
  
input {
    padding: 0.8rem;
    width: 100%;
    font-size: 1.7rem;
    border: solid 0.1vw #F5F9F4;
    color: #282322; 
    outline: none; 
  }

  
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #282322; 
  transition: background-color 5000s ease-in-out 0s;
  border: 0.2vw solid #F5F9F4;
 
}

input.invalid {
    border: solid 0.2vw #F74300;   
  }

  input[type=submit] {
    background-color: #F74300;    
    color: #F5F9F4;
    border: none;
    border-radius: 0.4vw;
    padding: 2% 3%;
    font-size: 1.7vw;
    cursor: pointer;
    width: 30%; 
  }

  input[type=submit]:hover {
    background-color:#282322;   
  }

  .form-title {
    font-weight: lighter;
    font-size: 2.5vw;
    color: #F74300;
  }
  

@media only screen and (max-width: 1000px) {
    .rect-div3 {
      display: none;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #F5F9F4; 
    border: solid 0.2rem #F74300;     
  }
  
  .img-container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  } 