@font-face {
src: url(fonts/Sophillia.otf);
font-family: sopillia; 
}

/* colours: 
beige #F6EEDA
white #F5F9F4
orange #F74300
black #282322
yellow #FFC200
green #055D43
blue #487D85
*/ 


html {
    font-size:  10pt; 
}
body {
    font-family: 'Montserrat', sans-serif;
  /*  background-color:#F6EEDA; */ 

}

h1 {
    font-family: sophillia; 
    color: #F74300; 
    font-size: 6rem;
}

h2 {
    font-family: sophillia; 
    color: #282322; 
    font-size: 6rem; 
    text-align: center;
}

.title-orange {
    color: #F74300; 
}

header {
    width: 100%; 
    background-color: #F6EEDA; 
    text-align: center;
    height: auto; 
    padding-top: 25rem; 
    padding-bottom: 25rem; 
    padding-left: 15rem;
    padding-right: 15rem;
    margin-top: -5rem; 

}

.nav {
    background: transparent;
    padding: 1rem; 
}

.nav .nav-item .nav-link {
    color: #F74300; 
    font-size: 1.1rem; 
    font-weight: 500;
}


.nav .nav-item .nav-link:hover {
    font-weight: 700;
} 

.strike {
    position: relative;
    display: block;
    cursor: pointer;
  }
  
  .strike:before, span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
    background: #fff;
  }
  
  .strike:before {
    left: -2.5px;
  }
  .strike:after {
    right: 2.5px;
    background: #FFC200;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  .strike:hover:before {
    background: #FFC200;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  .strike:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
  }
  

.about-div {
    background-color: #F5F9F4;
    padding: 30rem; 
    z-index: -1; 
}

.work-div {
    background-color: #F6EEDA; 
    width: 75%; 
    position: relative; 
    z-index: 1; 
    margin-top: -15rem; 
    padding: 10rem; 
}

.empty-div {
    background-color: #F74300; 
    width: 100%; 
    padding: 25rem; 
    margin-top: -25rem; 
    z-index: -1; 
}

.in-touch-div {
width: 100% ;
background-color:#F6EEDA; 
padding: 25rem; 
}

.black-rule {
    border-top:  #282322 solid 0.2rem ;     
 }
 
 
 .orange-rule {
     border-top: #F74300 solid 0.2rem; 
 }

footer {
    background: #282322; 
    color: #F74300; 
    width: 100%; 
    height: auto; 
    padding: 5rem; 
    text-align: center; 
}


.carousel {
    width: 95%;
    margin: auto; 
} 

.carousel-whole {
    position: relative; 
    width: 100%; 
    padding: 15rem; 
    background-color: #F5F9F4;
    z-index: -1;
}

#illus-title{
    background-color: transparent;
    padding-top: 30rem; 
    padding-bottom: 30rem;  
    padding-left: 1rem;  
    padding-right: 43rem; 
    position: relative; 
  margin-top: -88rem; 
  z-index: 1;
}
.work-back {
    background-color: blue;
    padding: 30rem;  
    position: relative; 
    margin-top: -40rem; 
    z-index: -2; 
}

.work-images {
    background-color: red;
    padding: 30rem;  
}

