.work-link {
    color: #EE5023;
}

.work-link:hover {
    font-weight: 300;
    text-decoration: none;
    color: #EE5023;
}

.look-website {
    color: #111213; 
    text-decoration: none;
}

.look-website:hover {
    color: #EE5023;
    text-decoration: none;
}

.image-spec {
    margin-top: 7rem; 
    margin-bottom: 5rem; 
    border: solid 0.01rem #F5F4F2; 
}

.image-grid {
    margin-top: 1rem; 
    margin-bottom: 1rem; 
    margin-left: 0rem;
    margin-right: 0rem; 
    border: solid 0.01rem #F5F4F2; 
}

#icarus-panels {
    margin-top: -7rem; 
}

#icarus-comic {
    margin-top: -5rem; 
}

.greek-rule1 {
    border-top: 0.2rem solid #EE5023;
    margin-right: 13rem; 
    margin-left: 13rem; 
    margin-top: 5rem;
    margin-bottom: 7rem; 
}

.greek-rule2 {
    border-top: 0.2rem solid #EE5023;
    margin-right: 13rem; 
    margin-left: 13rem; 
    margin-top: -5rem;
    margin-bottom: 7rem; 
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #F5F4F2; 
    border: solid 0.2rem #EE5023;     
  }
  
  .img-container:hover .overlay {
    opacity: 1;
  }