.work1 {
    margin-top: 8%;
    margin-bottom: 8%; 
    background-color: #F5F4F2;
    width: 100%; 
}

.image {
    margin-top: 8%;
    margin-bottom: 8%; 
    z-index: -1; 
    margin-right: 0;
    border: solid 0.01rem #F5F4F2; 
}

.image-spec {
    margin-top: 7rem; 
    margin-bottom: 5rem; 
    border: solid 0.01rem #F5F4F2; 
}

.look-website {
    color: #111213; 
    text-decoration: none;
}

.look-website:hover {
    color: #EE5023;
    text-decoration: none;
}
